* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

* {
   box-sizing: border-box;
}

body {
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
}

#ij8p {
   color: rgb(33, 37, 41);
}

#i41kb {
   color: rgb(33, 37, 41);
}

#i1rhp {
   color: rgb(33, 37, 41);
   display: inline;
}

#ik79f {
   color: rgb(33, 37, 41);
}

#i9clk {
   color: rgb(33, 37, 41);
}

.c549 {
   height: 100%;
   color: rgb(0, 0, 0);
}

.container {
   max-width: 1591%;
}

.header__title {
   float: none;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   font-size: 23px;
   text-align: center;
   font-weight: 200;
   color: rgb(33, 37, 41);
}

.c8203 {
   color: black;
}

.c10713 {
   min-height: 20px;
}

.c10751 {
   min-height: 70px;
}

.c10568 {
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
}

.form-group.base-margin-bottom {
   position: static;
   display: inline;
}

.topology {
   max-width: 100%;
}

.chevron ul.tabs li.active a {
   background-color: #017cad !important;
   opacity: 1 !important;
   color: #ffffff;
   box-shadow: none !important;
}

.chevron ul.tabs li a {
   height: 56px;
   min-width: 90% !important;
   padding: 10px 6px;
   background-color: #ffffff;
   opacity: 1 !important;
   color: #58585d;
   text-align: center;
   position: relative;
   line-height: 16px;
   font-size: 12px;
   cursor: pointer;
   flex: 1 !important;
   flex-shrink: 1 !important;
   flex-wrap: wrap !important;
   display: flex !important;
   justify-content: center !important;
}

.view {
   margin: 5px 5px 10px 5px;
}