<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>VK ACI</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script defer src="./assets/fontawesome/js/all.js"></script>
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/cui-standard.min.css">
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/frame.css">
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/style.css">
   <link rel="stylesheet" href="./assets/webix/webix.min.css" type="text/css">
   <link rel="stylesheet" href="./assets/webix/skins/contrast.min.css" type="text/css">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   <script src="./assets/webix/webix.min.js" type="text/javascript"></script>
   <script src="./assets/cui-2.0.0/js/jquery-3.0.0.min.js"></script>
   <script src="./assets/cui-2.0.0/js/vkaci-theme.js"></script>
   <script src="./assets/cui-2.0.0/js/vkaci.js"></script>

   <script>
      server_url = "{{ env.neo4j_browser_url }}";
      server_user = "{{ env.neo4j_user }}";
      server_password = "{{ env.neo4j_password }}";
   </script>

</head>

<body onload="draw_without_pods()" class="cui cui--animated cui--compressed" data-theme="dark">

   <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
   </div>

   <div id="VK ACI">
      <!-- Main Content -->
      <main>
         <div></div>
         <header class="header" id="_uid1092c8c8">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel">
                     <a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid5f5ccc10">
                        <span class="icon-cisco"></span>
                     </a>
                     <img src="./assets/cui-2.0.0/img/K8s.svg" width="48" height="48">
                     <div><b>VK ACI {{ version }}</b></div>
                  </div>
                  <div class="header-panel header-panel--right">

                     <a title="Change theme mode" class="header-item"><i id="colour-mode-button"
                           onclick="toggleColourMode()" class="fa-solid fa-dungeon fa-2x"></i></a>

                     <a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/camrossi/vkaci"
                        href="https://aci-github.cisco.com/camrossi/vkaci" data-hreftitle="Source Code"
                        title="Source Code" class="header-item" id="_uidb14b144f"><i
                           class="fa-brands fa-github fa-2x"></i></a>

                     <a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/camrossi/vkaci"
                        href="https://aci-github.cisco.com/camrossi/vkaci" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a>
                  </div>
               </div>
            </div>
         </header>

         <script>
            var mode = localStorage.getItem('mode');
            setTheme(mode)
         </script>

         <div class="container base-margin-top dbl-margin-left">
            <button class="btn btn--circle btn--large" onclick="openModal('modal-default')"
               data-balloon="Open VKACI information" data-balloon-pos="down"><i
                  class="fa-solid fa-question"></i></button>
            <button class="btn btn--circle btn--large" onclick="openModal('modal-small')"
               data-balloon="Regenerate Topology" data-balloon-pos="down">
               <i class="fa-solid fa-arrows-rotate"></i></button>

            <button class="btn btn--circle btn--large" onclick="openModal('modal-legend')" data-balloon="Graph Legend"
               data-balloon-pos="down">
               <i class="fa-solid fa-chart-column"></i></button>

         </div>

         <div data-cubextabs="container" data-oneuitabtype="tab" class="tabs-main c10568 container">

            <ul class="tabs" id="_uidb6d8fe4a">
               <li data-cubextabs="tabs" class="tabs-click tab active"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uid950bb1b6">
                     <p class="tabs-click tab__heading"><span id=""
                           class="icon-insights icon-small mr5 gjs-comp-selected"></span> <span>Cluster Topology</span>
                     </p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-switch-outline icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Leaf Topology</span></p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-cog icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Node Topology</span></p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-spinner icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Pod Topology</span></p>
                  </a></li>

                  <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088" onclick="renderTable()">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-grid-view icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Topology Table</span></p>
                  </a></li>
            </ul>
            <div class="tab-content">
               <!-- Cluster Topology tab -->
               <div notcomponent="" data-cubextabs="panel" class="tab-pane active">
                  <div class="btn-group btn-group--large btn-group--square">
                     <div class="dropdown">
                        <button class="btn btn--white btn--dropdown selected view">Different Views</button>
                        <div id="selected_views" class="dropdown__menu dropdown__menu--openleft">
                           <a id="PodsAndNodes" onclick="draw_pods_and_nodes()">Pods & Nodes</a>
                           <a id="WithoutBgpPeers" onclick="draw_without_bgp_peers()">Without Bgp Peers</a>
                           <a id="WithoutPods" onclick="draw_without_pods()">Without Pods</a>
                           <a id="OnlyBgpPeers" onclick="draw_only_bgp_peers()">BGP Peers</a>
                           <div class="dropdown__divider"></div>
                           <a id="All" onclick="draw_all()">View All</a>
                        </div>
                     </div>
                  </div>

                  <div class="btn-group btn-group--large btn-group--square">
                     <div class="dropdown">
                        <button class="btn btn--white btn--dropdown selected view">Namespaces</button>
                        <div id="selected_namespace" class="dropdown__menu dropdown__menu--openleft">
                           <!-- For loop logic of jinja template -->
                           {%for namespace in namespaces %}
                           <a id="{{namespace}}" onclick="draw_namespace('{{namespace}}')">{{namespace}}</a>
                           {%endfor%}
                           <div class="dropdown__divider"></div>
                           <a id=".*" onclick="draw_namespace('.*')">All</a>
                        </div>
                     </div>
                  </div>
                  <div id="viz" class="viz"></div>
               </div>

               <!-- Leaf topology tab -->
               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div>
                     <!-- <input type="text" id="leafname" list="LeafList" class="text-black"> -->
                     <div class="col-md-3">
                        <div class="form-group input--icon base-margin-bottom">
                           <div class="form-group__text">
                              <input id="leafname" type="search" list="LeafList" autocomplete="off">
                              <button type="button" id="leafBttn" onclick="draw_leaf()" class="link">
                                 <span class="icon-search"></span>
                              </button>
                           </div>
                           <div class="form-group__help">
                              <span>Type the leaf name and click the search icon to update the graph</span>
                           </div>
                        </div>
                     </div>
                     <datalist id="LeafList">
                        <!-- For loop logic of jinja template -->
                        {%for leaf in leaf_names %}
                        <option>{{leaf}}</option>
                        {%endfor%}
                     </datalist>
                  </div>
                  <div id="viz_leaf" class="viz"></div>
               </div>

               <!-- NodeTopology tab -->
               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div>
                     <div class="col-md-3">
                        <div class="form-group input--icon base-margin-bottom">
                           <div class="form-group__text">
                              <input id="nodename" type="search" list="NodeList" autocomplete="off">
                              <button type="button" id="nodeBttn" onclick="draw_node()" class="link">
                                 <span class="icon-search"></span>
                              </button>
                           </div>
                           <div class="form-group__help">
                              <span>Type the node name and click the search icon to update the graph</span>
                           </div>
                        </div>
                     </div>
                     <datalist id="NodeList">
                        <!-- For loop logic of jinja template -->
                        {%for node in node_names %}
                        <option>{{node}}</option>
                        {%endfor%}
                     </datalist>
                  </div>
                  <div id="viz_node" class="viz"></div>
               </div>

               <!-- Pod Topology tab -->
               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="form-group input--icon base-margin-bottom">
                           <div class="form-group__text">
                              <input id="podname" type="search" list="PodList" autocomplete="off">
                              <button type="button" id="podBttn" onclick="draw_pod()" class="link">
                                 <span class="icon-search"></span>
                              </button>
                           </div>
                           <div class="form-group__help">
                              <span>Type the pod name and click the search icon to update the graph</span>
                           </div>
                        </div>
                     </div>
                     <datalist id="PodList">
                        <!-- For loop logic of jinja template -->
                        {%for pod in pod_names %}
                        <option>{{pod}}</option>
                        {%endfor%}
                     </datalist>
                     <div class="col-md-2">
                        <div class="form-group dropdown">
                           <div class="form-group__text select">
                              <input id="select-type-styled" value="All">
                           </div>
                           <div class="form-group__help">
                              <span>Selected Namespace</span>
                           </div>
                           <div id="selected_pod_namespace" class="dropdown__menu">
                              <!-- For loop logic of jinja template -->
                              {%for namespace in namespaces %}
                              <a id="{{namespace}}" onclick="pod_namespace('{{namespace}}')">{{namespace}}</a>
                              {%endfor%}
                              <div class="dropdown__divider"></div>
                              <a id="!" onclick="pod_namespace('!')">All</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="viz_pod" class="viz"></div>
               </div>

               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div class="flex flex-left">
                     <div class="btn-group btn-group--large btn-group--square">
                        <div class="dropdown">
                           <button class="btn btn--white btn--dropdown selected view">Table Views</button>
                           <div id="selected_table" class="dropdown__menu dropdown__menu--openleft">
                              <a id="LeafsAndPods" onclick="table_leafs_pods()">Leafs & Pods</a>
                              <a id="LeafsAndNodes" onclick="table_leafs_nodes()">Leafs & Nodes</a>
                              <a id="BgpPeers" onclick="table_bgp_peers()">BGP Peers</a>
                              <div class="dropdown__divider"></div>
                              <a id="All" onclick="table_all()">View All</a>
                           </div>
                        </div>
                     </div>
                     <h5 id="table_title" class="half-margin text-italic">All</h5>
                  </div>
                  <div class="flex flex-left half-margin half-padding-left">
                     <button class="btn btn--circle" onclick="openAll()" data-balloon="Open All" data-balloon-pos="up">
                        <span class="icon-eye"></span>
                     </button>
                     <button class="btn btn--circle" onclick="closeAll()" data-balloon="Close All" data-balloon-pos="up">
                        <span class="icon-eye-closed"></span>
                     </button>
                  </div>
                  <div class="col-11" id="table"></div>
               </div>

            </div>

         </div>

         <div class="modal hide" id="modal-default">
            <div class="modal__dialog">
               <div class="modal__content">
                  <a class="modal__close" onclick="closeModal('modal-default')"><span class="icon-close"></span></a>
                  <div class="modal__header">
                     <div class="modal__title text-center">VKACI Information</div>
                  </div>
                  <div class="modal__body">
                     <p><strong>This app lets you quickly build K8s and ACI end to end topologies.</strong><br>
                     <div class="subheader"><i>Topology Views</i></div>
                     <ul>
                        <li>The Cluster Topology: This view shows the complete clsuter along with filtered views of the
                           pods,nodes and leaves.</li>
                        <li>Leaf Topology: This view will show all the eBGP peers and hosts (Physical K8s Nodes or
                           Hypervisors) connected
                           to the selected leaf</li>
                        <li>Node Topology: This view will show the node where the pod resides and how the node is
                           connected to the fabric
                        </li>
                        <li>Pod Topology: This view will show the PODs, Hypervisor and eBGP peers the node interacts
                           with</li>
                     </ul>
                     <div class="subheader"><i>Hints</i></div>
                     <ul>
                        <li>The graphs have tooltips on the pods and links!</li>
                     </ul>
                  </div>
                  <div class="modal__footer">
                     <button class="btn" onclick="closeModal('modal-default')">Ok</button>
                  </div>
               </div>
            </div>
         </div>

         <div class="modal modal--small hide" id="modal-small">
            <div class="modal__dialog">
               <div class="modal__content">
                  <a class="modal__close" onclick="closeModal('modal-small')"><span class="icon-close"></span></a>
                  <div class="modal__header">
                     <div class="modal__title">Regenerate</div>
                  </div>
                  <div class="modal__body">
                     <p><i>Update and show the current topology?</i></p>
                  </div>
                  <div class="modal__footer">
                     <form action="/re-generate" method="post">
                        <input class="btn btn--small" type="submit" , value="Confirm">
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal hide" id="modal-legend">
            <div class="modal__dialog">
               <div class="modal__content">
                  <a class="modal__close" onclick="closeModal('modal-legend')"><span class="icon-close"></span></a>
                  <div class="modal__header">
                     <div class="modal__title">Graph Legend</div>
                  </div>
                  <div class="modal__body">
                     <table>
                     <div class="Legend">
                        <tr>
                        <th><h5><em>Objects</em></h5></th>
                        <th><h5><em>Relationships</em></h5></th>
                        </tr>
                        <td>
                        <table>
                           <tr>
                              <div class="Legend-item">
                                 <td><img src="./assets/cui-2.0.0/img/esxi.png" width="25" height="25"></td>
                                 <td><span class="Legend-label dbl-margin-right">
                                       Leaf Neighbour
                                    </span></td>
                              </div>
                           </tr>
                           <tr>
                              <div class="Legend-item">
                                 <td><img src="./assets/cui-2.0.0/img/switch.png" width="25" height="25"></td>
                                 <td><span class="Legend-label">
                                       Leaf
                                    </span></td>
                              </div>
                           </tr>
                           <tr>
                              <div class="Legend-item">
                                 <td><img src="./assets/cui-2.0.0/img/node.svg" width="25" height="25"></td>
                                 <td><span class="Legend-label">
                                       K8s Node
                                    </span>
                                 </td>
                              </div>
                           </tr>
                           <tr>
                              <div class="Legend-item">
                                 <td><img src="./assets/cui-2.0.0/img/pod.svg" width="25" height="25"></td>
                                 <td><span class="Legend-label"></span>
                                    K8s Pod
                                    </span>
                                 </td>
                              </div>
                           </tr>
                        </table>
                     </div>
                     </td>
                     <td>
                     <h5><em></em></h5>
                     <table>
                        <tr>
                           <div class="Legend-item">
                              <td><img src="./assets/cui-2.0.0/img/connected_to.svg" width="128" height="30"></td>
                              <td><span class="Legend-label">
                                    Leaf Neighbour connected to leaf's
                                 </span>
                              </td>
                           </div>
                        </tr>
                        <tr>
                           <div class="Legend-item">
                              <td><img src="./assets/cui-2.0.0/img/peered_into.svg" width="128" height="30"></td>
                              <td><span class="Legend-label">
                                    k8s nodes BGP peering to leaf
                                 </span>
                              </td>
                           </div>
                        </tr>
                        <tr>
                           <div class="Legend-item">
                              <td><img src="./assets/cui-2.0.0/img/running_in.svg" width="128" height="30"></td>
                              <td><span class="Legend-label">
                                    K8s Pod running in Node
                                 </span>
                              </td>
                           </div>
                        </tr>
                        <tr>
                           <div class="Legend-item">
                              <td><img src="./assets/cui-2.0.0/img/running_on.svg" width="128" height="30"></td>
                              <td><span class="Legend-label">
                                    K8s Node running on Leaf Neighbour
                                 </span>
                              </td>
                           </div>
                        </tr>
                     </table>
                  </td></tr>
                  </table>
                  </div>
                  <div class="modal__footer">
                     <button class="btn" onclick="closeModal('modal-legend')">Ok</button>
                  </div>
               </div>
            </div>
         </div>

      </main>
      <!-- End Main Content -->

   </div>
   
   <script src="./assets/cui-2.0.0/js/styleguide.js"></script>
   <script src="./assets/cui-2.0.0/js/neovis.js"></script>
   <script src="./assets/cui-2.0.0/js/vkaci-table.js"></script>

   <script>
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
      });

      $("#leafname").keypress(function (event) {
         if (event.keyCode === 13) {
            $("#leafBttn").click();
         }
      });
      document.getElementById('leafname').addEventListener('input', function (event) {
         if(!event.inputType) $("#leafBttn").click();
      });

      $("#nodename").keypress(function (event) {
         if (event.keyCode === 13) {
            $("#nodeBttn").click();
         }
      });
      document.getElementById('nodename').addEventListener('input', function (event) {
         if(!event.inputType) $("#nodeBttn").click();
      });

      $("#podname").keypress(function (event) {
         if (event.keyCode === 13) {
            $("#podBttn").click();
         }
      });
      document.getElementById('podname').addEventListener('input', function (event) {
         if(!event.inputType) $("#podBttn").click();
      });

   </script>

</body>

</html>