<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>VK ACI</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="./assets/cui-2.0.0/js/font-awesome.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/cui-standard.min.css">
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/frame.css">
   <link rel="stylesheet" type="text/css" href="./assets/cui-2.0.0/css/style.css">

   <script src="./assets/cui-2.0.0/js/jquery-3.0.0.min.js"></script>
   <script src="./assets/cui-2.0.0/js/vkaci.js"></script>

   <script>
      server_url = "{{ env.neo4j_url }}";
      server_user = "{{ env.neo4j_user }}";
      server_password = "{{ env.neo4j_password }}";
   </script>

</head>

<body onload="draw_without_pods()" class="cui cui--animated cui--compressed" data-theme="dark">

   <script>
      var mode = localStorage.getItem('mode');
      if (mode) {
         $("body").attr("data-theme", mode)
      }
   </script>

   <div id="VK ACI">
      <!-- Main Content -->
      <main>
         <div></div>
         <header class="header" id="_uid1092c8c8">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel">
                     <a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid5f5ccc10">
                        <span class="icon-cisco"></span>
                     </a>
                     <img src="./assets/cui-2.0.0/img/K8s.svg" width="48" height="48">
                     <div><b>VK ACI {{ version }}</b></div>
                  </div>
                  <div class="header-panel header-panel--right">

                     <a title="Change theme mode" class="header-item"><i id="colour-mode-button"
                           onclick="toggleColourMode()" class="fa-brands fa-galactic-republic fa-2x"></i></a>

                     <a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/camrossi/vkaci"
                        href="https://aci-github.cisco.com/camrossi/vkaci" data-hreftitle="Source Code"
                        title="Source Code" class="header-item" id="_uidb14b144f"><i
                           class="fa-brands fa-github fa-2x"></i></a>

                     <a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/camrossi/vkaci"
                        href="https://aci-github.cisco.com/camrossi/vkaci" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a>
                  </div>
               </div>
            </div>
         </header>
         <div class="container">
            <button class="btn" onclick="openModal('modal-default')">How To</button>
            <div class="c10713">

               <form action="/re-generate" method="post">
                  <p>Click Regenerate to update it.
                     <input class="btn btn--small" type="submit" , value="Regenerate">
                  </p>
               </form>
            </div>
         </div>

         <div data-cubextabs="container" data-oneuitabtype="tab" class="tabs-main c10568 container">
            <ul class="tabs" id="_uidb6d8fe4a">
               <li data-cubextabs="tabs" class="tabs-click tab active"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uid950bb1b6">
                     <p class="tabs-click tab__heading"><span id=""
                           class="icon-insights icon-small mr5 gjs-comp-selected"></span> <span>Cluster Topology</span>
                     </p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-switch-outline icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Leaf Topology</span></p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-cog icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Node Topology</span></p>
                  </a></li>

               <li data-cubextabs="tabs" class="tabs-click tab"><a data-hreftarget="_self" data-hreflink=""
                     data-hreftitle="" title="" class="tabs-click" id="_uida7b3d088">
                     <p class="tabs-click tab__heading"><span data-highlightable="1" id=""
                           class="icon-spinner icon-small mr5"></span> <span data-highlightable="1"
                           class="gjs-comp-selected">Pod Topology</span></p>
                  </a></li>
            </ul>
            <div class="tab-content">
               <div notcomponent="" data-cubextabs="panel" class="tab-pane active">
                  <div class="btn-group btn-group--large btn-group--square">
                     <div class="dropdown">
                        <button class="btn btn--white btn--dropdown selected view">Different Views</button>
                        <div id="selected_views" class="dropdown__menu dropdown__menu--openleft">
                           <a id="PodsAndNodes" onclick="draw_pods_and_nodes()">Pods & Nodes</a>
                           <a id="WithoutBgpPeers" onclick="draw_without_bgp_peers()">Without Bgp Peers</a>
                           <a id="WithoutPods" onclick="draw_without_pods()">Without Pods</a>
                           <a id="OnlyBgpPeers" onclick="draw_only_bgp_peers()">BGP Peers</a>
                           <div class="dropdown__divider"></div>
                           <a id="All" onclick="draw_all()">View All</a>
                        </div>
                     </div>
                  </div>

                  <div class="btn-group btn-group--large btn-group--square">
                     <div class="dropdown">
                        <button class="btn btn--white btn--dropdown selected view">Namespaces</button>
                        <div id="selected_namespace" class="dropdown__menu dropdown__menu--openleft">
                           <!-- For loop logic of jinja template -->
                           {%for namespace in namespaces %}
                           <a id="{{namespace}}" onclick="draw_namespace('{{namespace}}')">{{namespace}}</a>
                           {%endfor%}
                           <div class="dropdown__divider"></div>
                           <a id=".*" onclick="draw_namespace('.*')">All</a>
                        </div>
                     </div>
                  </div>

                  <div id="viz" class="viz"></div>

               </div>

               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div>
                     <p>Type the leaf name and click show to update the graph:
                        <input type="text" id="leafname" list="LeafList" class="text-black">
                        <datalist id="LeafList">
                           <!-- For loop logic of jinja template -->
                           {%for leaf in leaf_names %}
                           <option>{{leaf}}</option>
                           {%endfor%}

                        </datalist>
                        <button class="btn btn--small" onclick="draw_leaf()">Show</button>
                  </div>
                  <div id="viz_leaf" class="viz"></div>

               </div>

               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div>
                     <p>Type the node name and click show to update the graph:
                        <input type="text" id="nodename" list="NodeList" class="text-black">
                        <datalist id="NodeList">
                           <!-- For loop logic of jinja template -->
                           {%for node in node_names %}
                           <option>{{node}}</option>
                           {%endfor%}

                        </datalist>
                        <button class="btn btn--small" onclick="draw_node()">Show</button>
                  </div>
                  <div id="viz_node" class="viz"></div>

               </div>

               <div notcomponent="" data-cubextabs="panel" class="tab-pane">
                  <div>
                     <p>Type the pod name or IP and click show to update the graph:
                        <input type="text" id="podname" list="PodList" class="text-black">
                        <datalist id="PodList">
                           <!-- For loop logic of jinja template -->
                           {%for pod in pod_names %}
                           <option>{{pod}}</option>
                           {%endfor%}

                        </datalist>
                        <button class="btn btn--small" onclick="draw_pod()">Show</button>
                  </div>
                  <div id="viz_pod" class="viz"></div>

               </div>


            </div>

         </div>
         <div class="modal hide" id="modal-default">
            <div class="modal__dialog">
               <div class="modal__content">
                  <a class="modal__close" onclick="closeModal('modal-default')"><span class="icon-close"></span></a>
                  <div class="modal__header">
                     <div class="modal__title text-center">VKACI Information</div>
                  </div>
                  <div class="modal__body">
                     <p><strong>This app lets you quickly build K8s and ACI end to end topologies.</strong><br>
                     <div class="subheader"><i>Topology Views</i></div>
                     <ul>
                        <li>The Cluster Topology: This view shows the complete clsuter along with filtered views of the
                           pods,nodes and leaves.</li>
                        <li>Leaf Topology: This view will show all the eBGP peers and hosts (Physical K8s Nodes or
                           Hypervisors) connected
                           to the selected leaf</li>
                        <li>Node Topology: This view will show the node where the pod resides and how the node is
                           connected to the fabric
                        </li>
                        <li>Pod Topology: This view will show the PODs, Hypervisor and eBGP peers the node interacts
                           with</li>
                     </ul>
                     <div class="subheader"><i>Hints</i></div>
                     <ul>
                        <li>The graphs have tooltips on the pods and links!</li>
                     </ul>
                  </div>
                  <div class="modal__footer">
                     <button class="btn" onclick="closeModal('modal-default')">Ok</button>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <!-- End Main Content -->
   </div>

   <script src="./assets/cui-2.0.0/js/lodash.min.js"></script>
   <script src="./assets/cui-2.0.0/js/clipboard.js"></script>
   <script src="./assets/cui-2.0.0/js/styleguide.js"></script>
   <script src="./assets/cui-2.0.0/js/highcharts.js"></script>
   <script src="./assets/cui-2.0.0/js/exporting.js"></script>
   <script src="./assets/cui-2.0.0/js/html2canvas.js"></script>
   <script src="./assets/cui-2.0.0/js/neovis.js"></script>

</body>

</html>